Flow Files/Generate_Data.json
{"flowContents":{"identifier":"0d861415-58df-358d-b623-1cf8a47a2a49","name":"Generate Data","comments":"","position":{"x":-208.0,"y":800.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"b600fd8b-0003-3933-ae9a-9df45b2844f2","name":"PublishMQTT","comments":"","position":{"x":-304.0,"y":424.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-mqtt-nar","version":"1.11.4"},"style":{},"type":"org.apache.nifi.processors.mqtt.PublishMQTT","properties":{"Client ID":"123","Last Will QoS Level":null,"Connection Timeout (seconds)":"30","Broker URI":"tcp://8.8.8.8:1883","SSL Context Service":null,"Username":null,"Session state":"true","Quality of Service(QoS)":"1","Last Will Message":null,"Last Will Topic":null,"Topic":"data","MQTT Specification Version":"0","Keep Alive Interval (seconds)":"60","Last Will Retain":null,"Retain Message":"True"},"propertyDescriptors":{"Client ID":{"name":"Client ID","displayName":"Client ID","identifiesControllerService":false,"sensitive":false},"Last Will QoS Level":{"name":"Last Will QoS Level","displayName":"Last Will QoS Level","identifiesControllerService":false,"sensitive":false},"Connection Timeout (seconds)":{"name":"Connection Timeout (seconds)","displayName":"Connection Timeout (seconds)","identifiesControllerService":false,"sensitive":false},"Broker URI":{"name":"Broker URI","displayName":"Broker URI","identifiesControllerService":false,"sensitive":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"Username":{"name":"Username","displayName":"Username","identifiesControllerService":false,"sensitive":false},"Session state":{"name":"Session state","displayName":"Session state","identifiesControllerService":false,"sensitive":false},"Quality of Service(QoS)":{"name":"Quality of Service(QoS)","displayName":"Quality of Service(QoS)","identifiesControllerService":false,"sensitive":false},"Last Will Message":{"name":"Last Will Message","displayName":"Last Will Message","identifiesControllerService":false,"sensitive":false},"Last Will Topic":{"name":"Last Will Topic","displayName":"Last Will Topic","identifiesControllerService":false,"sensitive":false},"Topic":{"name":"Topic","displayName":"Topic","identifiesControllerService":false,"sensitive":false},"MQTT Specification Version":{"name":"MQTT Specification Version","displayName":"MQTT Specification Version","identifiesControllerService":false,"sensitive":false},"Keep Alive Interval (seconds)":{"name":"Keep Alive Interval (seconds)","displayName":"Keep Alive Interval (seconds)","identifiesControllerService":false,"sensitive":false},"Password":{"name":"Password","displayName":"Password","identifiesControllerService":false,"sensitive":true},"Last Will Retain":{"name":"Last Will Retain","displayName":"Last Will Retain","identifiesControllerService":false,"sensitive":false},"Retain Message":{"name":"Retain Message","displayName":"Retain Message","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"0d861415-58df-358d-b623-1cf8a47a2a49"},{"identifier":"b5354fa2-1e5b-3631-a027-6370e88e775a","name":"GenerateFlowFile","comments":"","position":{"x":-768.0,"y":424.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.11.4"},"style":{},"type":"org.apache.nifi.processors.standard.GenerateFlowFile","properties":{"character-set":"UTF-8","File Size":"0B","generate-ff-custom-text":"external=${random():mod(50):plus(50)},internal=${random():mod(200):plus(150)}","Batch Size":"1","Unique FlowFiles":"false","Data Format":"Text"},"propertyDescriptors":{"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"File Size":{"name":"File Size","displayName":"File Size","identifiesControllerService":false,"sensitive":false},"generate-ff-custom-text":{"name":"generate-ff-custom-text","displayName":"Custom Text","identifiesControllerService":false,"sensitive":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false},"Unique FlowFiles":{"name":"Unique FlowFiles","displayName":"Unique FlowFiles","identifiesControllerService":false,"sensitive":false},"Data Format":{"name":"Data Format","displayName":"Data Format","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"1 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"0d861415-58df-358d-b623-1cf8a47a2a49"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"cb92848f-f7cc-39d6-ad9c-812f06da47b6","name":"","source":{"id":"b5354fa2-1e5b-3631-a027-6370e88e775a","type":"PROCESSOR","groupId":"0d861415-58df-358d-b623-1cf8a47a2a49","name":"GenerateFlowFile","comments":""},"destination":{"id":"b600fd8b-0003-3933-ae9a-9df45b2844f2","type":"PROCESSOR","groupId":"0d861415-58df-358d-b623-1cf8a47a2a49","name":"PublishMQTT","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"0d861415-58df-358d-b623-1cf8a47a2a49"}],"labels":[],"funnels":[],"controllerServices":[],"variables":{},"componentType":"PROCESS_GROUP"},"externalControllerServices":{},"parameterContexts":{},"flowEncodingVersion":"1.0"}